        <!-- Header-->
        <section id="header">
    	    <header>
                <span class="image avatar"><img src="{{ 'images/prof.jpg' | relative_url }}" alt="" /></span>
                <h1 id="logo"><a href="#">Jonathan D. Shaw</a></h1>
            </header>
        	<nav id="nav">
        		<ul>
                    <li><a href="{{ site.baseurl }}/#about">About</a></li>
                    <li><a href="{{ site.baseurl }}/#publications">Publications</a></li>
					<li><a href="{{ site.baseurl }}/#teaching">Teaching</a></li>
					<li><a href="{{ site.baseurl }}/#software">Software</a></li>
        		</ul>
        	</nav>
    	    <footer>
    	    	<ul class="icons">
    	    		<li><a href="mailto:jonathan.shaw@colorado.edu" class="icon solid fa-envelope" color=#fff><span class="label">Email</span></a></li>
    	    		<li><a href="https://github.com/Jonathan-D-Shaw" class="icon brands fa-github" color=#fff><span class="label">GitHub</span></a></li>
    	    	</ul>
    	    </footer>
        </section>
 
